@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    margin: 0;
    padding: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #eee;
    font-family: monospace;
    direction: ltr;
    text-align: left;
    word-break: break-all;
    white-space: break-spaces;
}

:root {

}

html {
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
}

body {
    & *,
    & *:before,
    & *:after {
        box-sizing: border-box;
    }
}